<div class="container">
    <div class="row">
      <div class="col-8" style="background-color: rgb(202, 93, 226); padding: 10px 10px 10px 10px; border: 2px solid black; border-radius: 20px;">
        <form action="" style="text-align: center; padding: 0 0 20px 0;">
          <label for="userGuess" style="color:white; text-decoration: underline;">Guess a word:</label>
          <input type="text" id="userGuess" name="userGuess">
          <button type="submit">Submit</button>
        </form>
  
        <table class="table table-striped" name="guesses">
          <thead class="table-dark">
            <tr>
              <th style="width: 40%; text-align: center;">Guess</th>
              <th style="width: 20%; text-align: center;"># Letters in Word</th>
              <th style="width: 20%; text-align: center;">Letters in Correct Locations</th>
              <th style="width: 20%; text-align: center;">Length</th>
            </tr>
          </thead>
          <tbody>
  
          </tbody>
        </table>
      </div>
      <div class="col-4">
  
      </div>
    </div>
  </div>